#profile{
 height: 100px;
 border-radius: 300px;
 width: 100px;
}
.goalstairs{
  color: var(--GHGreen);
  width: 30px;
  height: 100px;
}
.uparrow, .downarrow{
 height: 75px;
 width: 100px;
 align-items: center;
 color: var(--GHGreen)
}
path{
  width: 30px;
  height: 100px;
}
form{
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: medium !important;
  font-style:oblique;
}

.tbgwrap {
  padding: 10px;
}



.theader {
  height: 75px;
  border-bottom: 1px solid #c0c0c0;
}


.tlogo {
  width: 50px;
  margin-right: 55px ;
  align-items: center;
}

.tlogo img {
  width: 100px;
}

.tphoto {
  width: 350px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid #c0c0c0;
  padding-bottom: 60px;
  background-color:  var(--GHGreen) ;
  box-shadow: 2px 2px 2px var(--GHGreen);
}

.tphoto img {
  width: 185px;
  border: 1px solid var(--GHGreen);
  border-radius: 15px;
  margin: 0px 0px 0px 0px;
  margin-top: 30px;
}

.tname {
  padding: 15px;
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  float: left;
}

.tname .age {
  font-weight: 200;
}

.tinfo {
  font-family: 'Helvetica', sans-serif;
}

/* .tinfo .fa-users,
.tinfo .fa-book {
  color: #c0c0c0;
  float: right;
  position: relative;
  font-size: 24px;
  padding: 12px;
} */

.tcontrols {}
/* 
.tno {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 70px;
  left: 25px;
  border: 10px solid #f0f0f0;
} */

.tno i {
  color: #ff695b;
  font-size: 80px;
  padding: 17px 28px;
}

.ti {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  display: inline-block;
  left: 12px;
  top: 45px;
  border: 10px solid #f0f0f0;
}

.carousel {
  display: flex; 
   flex-direction: column; 
   align-items: center; 
   height: 932px;
   display: inline-block;
}

.carousel-container {
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  background-color: var(--GHBlue);
  border: 1px solid var(--GHGreen);
  overflow-x: hidden;
  overflow-y: hidden;
}

.user-card {
  display: none;
  padding: 20px;
  /* background-color: #f0f0f0;
  border: 1px solid #ccc; */
  height: 700px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
}

.user-card.active {
  display: block;
}

.user-card p {
  margin: 0;
}

.user-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-goals {
  margin-top: 10px;
}

.carousel-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  border-radius: 15px;
  justify-content: space-between;
  padding: 10px;
}

.carousel-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: var(--GHBlue);
  border-radius: 15px;
  justify-content: space-between;
  border: 1px solid #ccc;
  cursor: pointer;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}

/* body {
  display: flex;
  justify-content: center;
} */

.swiper-container {
  width: 800px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.swiper-slide {
  background-color: rgb(4 47 46);
  color: #fff;
  font-size: 25px;
}

/* .swiper-slide:nth-child(2) {
  background-color: rgb(15 118 110);
}

.swiper-slide:nth-child(3) {
  background-color: rgb(45 212 191);
}

.swiper-slide:nth-child(4) {
  background-color: rgb(153 246 228);
}

.swiper-slide:nth-child(5) {
  background-color: rgb(34 197 94);
} */
/* .ti .fa-info {
  font-size: 23px;
  padding: 15px 20px;
  color: #398beb;
} */

/* .tyes {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 62px;
  left: 0px;
  border: 10px solid #f0f0f0;
} */

/* .tyes i {
  color: #5de19c;
  font-size: 60px;
  padding: 35px 30px;
} */

/* .credit {
  width: 400px;
  height: auto;
  position: relative;
  top: 60px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 2px 0px;
} */

/* .credit a {
  font-size: 7px;
  letter-spacing: 5px;
  color: #c0c0c0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
} */