/* .form{
  padding-top: 100%;
} */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(white);
    /* padding-bottom: 60px; */
    /* justify-content: space-between; */


}

.login-logo {

    width: 200px;
    height: 200px
}

.text-wrapper-3 {
    color: #000000;
    font-family: var(--regular-14-font-family);
    font-size: var(--regular-14-font-size);
    font-style: var(--regular-14-font-style);
    font-weight: var(--regular-14-font-weight);

    letter-spacing: var(--regular-14-letter-spacing);
    line-height: var(--regular-14-line-height);


    border-top: none;
    border-left: none;
    border-right: none;
}

.text-wrapper-2 {
    color: #000000;
    font-family: var(--regular-14-font-family);
    font-size: var(--regular-14-font-size);
    font-style: var(--regular-14-font-style);
    font-weight: var(--regular-14-font-weight);

    letter-spacing: var(--regular-14-letter-spacing);
    line-height: var(--regular-14-line-height);



    border-top: none;
    border-left: none;
    border-right: none;


}


.login-submit {
    background-color: var(--GHBlue);
    width: 225px;
    height: 75px;
    border-radius: 40px;
    font-weight: bolder;
    border: 1px solid var(--GHGreen);
}

.login-signup {
    background-color: var(--GHGreen);
    width: 225px;
    height: 75px;
    border-radius: 40px;
    font-weight: bolder;
    border: 1px solid var(--GHBlue);
}