@media (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .userprofile-container {
    font-size: small;
    display: grid;
    min-height: 85vh;
    max-width: 767px;
    margin: 0 auto;
    padding: 5px;
    grid-template-areas:
      "i p l"
      "b b b"
      "a c c"
      "g g g";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 50px auto;
    gap: 10px;
  }

  #profilelogo {
    margin-top: 30px;
    grid-area: i;
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }

  .goalcard {
    width: 125px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  /*  
  .profile-header,
  .stats {
    flex: 1 1 50%; 
    padding: 20px;
    box-sizing: border-box;
  }
*/
  .profile-header {
    grid-area: p;
    align-items: center;
  }

  .css-button-shadow-border--black {
    grid-area: l;
  }

  .bio {
    grid-area: b;
  }

  .active {
    grid-area: a;
  }

  .completed {
    grid-area: c;
  }

  .goals {
    grid-area: g;
  }
}

/* Adjustments for responsive layout */
@media (min-width: 768px) {
  .userprofile-container {
    padding: 20px;
    font-size: medium;
  }

  .logout {
    display: flex;
    justify-content: flex-end;
  }

  p {
    font-size: medium;
  }
  .css-button-3d--sky {
    min-width: 165px;
  }
}
