/* @media (min-width: 1000px) { */
.nav {
  background-color: var(--GHBlue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 16vw;
/* font-size:xx-small; */
  /* padding: 10px; */
}

.navbar-link {
  display: flex;
  column-gap: 10px;
  width: 85%;
  align-items: center;
  text-decoration: none;

}
.navbar-link span {
  font-size: 15px;
  color: white;
  /* font-size:xx-small; */
}
.navbar-link img {
  height: 75px;
  max-width: 90%;
  border: 1px solid black;
  border-radius: 15px;
}

.navbar-link:hover {
  background-color: var(--GHGreen);
  border-radius: 20px;
  padding: 5px;
}

.navbar-close{
  all: unset;
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
}

.navbar-close svg{
  height: 2em;
  width: 2em;
}
/* button.navbar-close:hover + .navbar {
  display: block;
} */



/* @media (min-width: 391px) {
    nav {
      display: none;
    } */

/* justify-content: space-around; */

/* } */
