@media (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .new-profile {
    max-width: 400px;
    margin: 0 auto;
  }

  form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    background-color: #80b192;
    color: #fff;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  label {
    display: inline-block;
    margin-right: 10px;
  }

  input,
  select,
  textarea {
    margin-bottom: 10px;
  }

  input[type="submit"] {
    margin-top: 20px;
  }

  form h2 {
    text-align: center;
    color: #0056b3;
  }
}
/* .form {
  padding: 20px 0px 0px 0px;
}

.new-profile #description {
  font-style: italic;
}

.new-profile {
  padding: 20px;
  align-content: center;
} */
