:root {
  height: 100%;
  width: 100%;
}
/* body{width:100%} */
body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  
}

* {
  --GHBlue: #2977fa;
  --GHGreen: #7ed957;
}

.css-button-gradient--5 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
}
.css-button-gradient--5:hover {
  background-position: right center;
}
.css-button-gradient--5:active {
  top: 2px;
}

.css-button-3d--sky {
  min-width: 180px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3a86ff;
  box-shadow: 0 5px #9fff95;
}
.css-button-3d--sky:hover {
  box-shadow: 0 3px #9fff95;
  top: 1px;
}
.css-button-3d--sky:active {
  box-shadow: 0 0 #9fff95;
  top: 5px;
}

.css-button-3d--sand {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #999c9f;
  box-shadow: 0 5px #696d71;
}
.css-button-3d--sand:hover {
  box-shadow: 0 3px #adb5bd;
  top: 1px;
}
.css-button-3d--sand:active {
  box-shadow: 0 0 #adb5bd;
  top: 5px;
}
