:root {
  height: 100%;
  width: 100%;
}
/* body{width:100%} */
body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  /* display: flex; */
  /* place-items: center; */
}

* {
  --GHBlue: #2977fa;
  --GHGreen: #7ed957;
}
